
<div ng-controller="details">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">{{Msgs.Title}}</h2>
        </div>

    </md-toolbar>
<div class="box"><img src="{{Msgs.Poster}}" alt="" align="left">
    <div class="fixingmargin">
        <h2>{{Msgs.Title}} ({{Msgs.Year}})</h2>
        <br>

        <strong>Plot :</strong>{{Msgs.Plot}}<br>
        <strong>Rating :</strong>{{Msgs.Rated}}<br>
        <strong>Released date :</strong>{{Msgs.Released}}<br>
        <strong>Runtime :</strong>{{Msgs.Runtime}}<br>
        <strong>Genre :</strong>{{Msgs.Genre}}<br>
        <strong>Director :</strong>{{Msgs.Director}}<br>
        <strong>Writer :</strong>{{Msgs.Writer}}<br>
        <strong>Actors :</strong>{{Msgs.Actors}}<br>
        <strong>Plot :</strong>{{Msgs.Type}}<br>
        <strong>Language :</strong>{{Msgs.Language}}<br>
        <strong>Awards :</strong>{{Msgs.Awards}}<br>
        <strong>Metascore :</strong>{{Msgs.Metascore}}<br>
        <strong>imdbRating :</strong>{{Msgs.imdbRating}}<br>
        <strong>imdbVotes :</strong>{{Msgs.imdbVotes}}<br>
        <strong>imdbID :</strong>{{Msgs.imdbID}}<br>



    </div>
</div>
</div>

